<!--
  Main sidebar seen on the left. may be static or collapsing depending on selected state.

    * Collapsing - navigation automatically collapse when mouse leaves it and expand when enters.
    * Static - stays always open.
-->
<nav id="sidebar" class="sidebar" role="navigation">
    <!-- need this .js class to initiate slimscroll -->
    <div class="js-sidebar-content">
        <header class="logo hidden-xs">
            <a href=<%= root_path %>>SMU <span id="side-hide">STEM PREP</span></a>
        </header>
        <!-- seems like lots of recent admin template have this feature of user info in the sidebar.
             looks good, so adding it and enhancing with notifications -->
        <div class="sidebar-status visible-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="thumb-sm avatar pull-right">
                    <img class="img-circle" src="demo/img/people/a5.jpg" alt="...">
                </span>
                <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
                     should be used with bg-* and text-* classes for colors -->
                <span class="circle bg-warning fw-bold text-gray-dark">
                    13
                </span>
                &nbsp;
                Philip <strong>Smith</strong>
                <b class="caret"></b>
            </a>
            <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
        </div>
        <!-- main notification links are placed inside of .sidebar-nav -->
        <ul class="sidebar-nav">
            <li <%= "class=active" if locals[:page] == 1%>>
                <a href="/users/<%= current_user.id %>">
                    <span class="icon">
                        <i class="glyphicon glyphicon-home"></i>
                    </span>
                    Home
                </a>
            </li>
            <li <%= "class=active" if locals[:page] == 2 %>>
                <a href="/users/<%= locals[:current_user].id %>/profile">
                    <span class="icon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    My Profile
                    <span class="label label-danger">
                        9
                    </span>
                </a>
            </li>
            <li <%= "class=active" if locals[:page] == 3 %>>
                <a href="/users/<%= locals[:current_user].id %>/documents">
                    <span class="icon">
                        <i class="glyphicon glyphicon-hdd"></i>
                    </span>
                    My Documents
                </a>
            </li>

            <li <%= "class=active" if locals[:page] == 4 %>>
                <a href="/search">
                    <span class="icon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    Search Students
                </a>
            </li>
        </ul>
</nav>