<%= render "partials/sidebar", locals: {current_user: current_user, page: 2} %>
<%= render "partials/headerbar", locals: {current_user: current_user, page: 2} %>

<div class="content-wrap">
  <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
  <main id="content" class="content" role="main">
    <ol class="breadcrumb">
        <li>Home</li>
    </ol>


    <div class="row">
      <div class="col-md-12 main-content">
        <section class="widget col-xs-12">
          <div class="widget-content col-xs-4 center-block">
            <%= form_for current_user, action: :update, html: { class: 'edit-form pass-form' } do |f| %>
            <div class="right col-xs-12">
              <label for="">old password</label>
              <%= text_field_tag "old password", nil, class: 'form-control' %>
            </div>
            <div class="right col-xs-12">
              <label for="">new password</label>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
            <div class="right col-xs-12">
              <label for="">confirm password</label>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <br>
            <div class="right col-xs-12">
              <%= f.submit "submit", class: "btn btn-success right" %>
            </div>
            <% end %>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>

<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>