<%= render "partials/sidebar", locals: {current_user: current_user, page: 2} %>
<%= render "partials/headerbar", locals: {current_user: current_user, page: 2} %>
<div class="content-wrap">

    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>Home</li>
            <li class="active">Profile</li>
        </ol>
        <h1 class="page-title light-header">Profile
          <% if @is_current %>
            <%= link_to("Edit", "#", class: "btn btn-primary btn-md edit-user-profile") %>
          <% end %>

        </h1>

        <div class="row">
          <div class="col-md-12 main-content">
            <section class="widget col-xs-12">
              <div class="widget-content col-xs-12">
                <div class="image-container profile-image col-md-2">
                  <% if @user.prof_pic_url %>
                    <%= image_tag(@user.prof_pic_url, class: "profile-image", size: "200") %>
                  <% else %>
                    <%= image_tag("avatar.png", class: "profile-image" ) %>
                  <% end %>
                  <% if @is_current %>
                    <%= direct_upload_form_for @uploader, class: 'col-md-2' do |f| %>
                      <label class="vis-label btn btn-primary btn-md col-md-7 upload-but center-block">New Picture
                        <%= f.file_field :avatar, id: "file-up" %>
                      </label>
                      <%= f.submit 'Update', class: "btn btn-success btn-md sub-doc col-md-7 upload-but center-block" %>
                    <% end %>
                  <% end %>
                </div>
                <table class="table custom-table col-md-3 col-xs-12">
                  <%= form_for current_user, action: :update, class: 'edit-form' do |f| %>
                  <tbody class="row">
                    <tr class="custom-row col-xs-12">
                      <td class="header-data">NAME:</td>
                      <td class="info-data" id="name-row"><%="#{@user.first_name }" + " " + "#{@user.last_name}" %></td>
                      <td class="edit-input col-xs-4"><%= f.text_field :first_name %></td>
                      <td class="edit-input col-xs-4"><%= f.text_field :last_name %></td>
                    </tr>
                    <tr class="custom-row col-xs-12">
                      <td class="header-data">CITY</td>
                      <td class="info-data" id="program-row"><%="#{@user.city}"%></td>
                      <td class="edit-input"><%= f.text_field :city %></td>
                    </tr>
                    <tr class="custom-row col-xs-12">
                      <td class="header-data">STATE</td>
                      <td class="info-data" id="program-row"><%="#{@user.state}"%></td>
                      <td class="edit-input"><%= f.text_field :state %></td>
                    </tr>
                  </tbody>
                </table>

                <table class="table custom-table col-md-3">
                  <tbody class="row">
                    <tr class="custom-row col-xs-12">
                      <td class="header-data" id="home-town-row">GRADE:</td>
                      <td class="info-data"><%="#{@user.grade}"%></td>
                      <td class="edit-input"><%= f.text_field :grade %></td>
                    </tr>
                    <tr class="custom-row col-xs-12">
                      <td class="header-data" id="year-row">MAJOR:</td>
                      <td class="info-data"><%="#{@user.major}"%></td>
                      <td class="edit-input"><%= f.text_field :major %></td>
                    </tr>
                    <tr class="custom-row col-xs-12">
                      <td class="header-data" id="building-row">BIRTHDAY:</td>
                      <td class="info-data"><%="#{@user.birthday}"%></td>
                      <td class="edit-input"><%= f.text_field :birthday %></td>
                    </tr>
                    <tr class="custom-row edit-input col-xs-12">
                      <td class="edit-input"><%= f.submit :save, class: 'submit-edit btn btn-primary btn-md' %></td>
                    </tr>
                  </tbody>
                </table>
                </form>
              </div>
              <script>UserProfile.init();</script>
            </section>
            </div>
          </div>
          <% end %>
        </main>
      </div>

<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

