<%= render "partials/sidebar", locals: {current_user: current_user, page: 2} %>
<%= render "partials/headerbar", locals: {current_user: current_user, page: 2} %>
<%= render "partials/chat_sidebar", locals: {current_user: current_user, page: 2} %>
<%= javascript_include_tag 'edit_profile_ajax' %>
<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>Home</li>
            <li class="active">Profile</li>
        </ol>
        <h1 class="page-title light-header">My Profile <%= link_to("Edit", "#", class: "btn btn-primary btn-md edit-user-profile") %>
          <%= form_for :user, class: 'edit-form' do |f| %>
        </h1>


        <div class="row">
          <div class="col-md-12 main-content">
            <section class="widget col-xs-12">
              <div class="widget-content col-xs-12">
                <%= image_tag("a5.jpg", class: "profile-image col-md-2" ) %>

                <table class="table custom-table col-md-3 col-xs-12">
                  <tbody class="row">
                    <tr class="custom-row col-xs-12">
                      <td class="header-data">NAME:</td>
                      <td class="info-data" id="name-row"><%="#{current_user.first_name }" + " " "#{current_user.last_name}" %></td>
                      <td class="edit-input"><%= f.text_field :first_name %></td>
                      <td class="edit-input"><%= f.text_field :last_name %></td>
                    </tr>
                    <tr class="custom-row col-xs-12">
                      <td class="header-data">PROGRAM:</td>
                      <td class="info-data" id="program-row"><%="#{current_user.program}"%></td>
                      <td class="edit-input"><%= f.text_field :program %></td>
                    </tr>
                    <tr class="custom-row col-xs-12">
                      <td class="header-data" id="home-town-row">FROM:</td>
                      <td class="info-data"><%="#{current_user.home_town}"%></td>
                      <td class="edit-input"><%= f.text_field :home_town %></td>
                    </tr>
                  </tbody>
                </table>

                <table class="table custom-table col-md-3">
                  <tbody class="row">
                    <tr class="custom-row col-xs-12">
                      <td class="header-data" id="year-row">YEAR:</td>
                      <td class="info-data"><%="#{current_user.year}"%></td>
                      <td class="edit-input"><%= f.text_field :year %></td>
                    </tr>
                    <tr class="custom-row col-xs-12">
                      <td class="header-data" id="building-row">BUILDING:</td>
                      <td class="info-data"><%="#{current_user.building}"%></td>
                      <td class="edit-input"><%= f.text_field :year %></td>
                    </tr>
                    <tr class="custom-row col-xs-12">
                      <td class="edit-input"><%= f.submit :save, class: 'submit-edit btn btn-primary btn-md' %></td>
                    </tr>
                  </tbody>
                </table>
                </form>
              </div>
            </section>
            </div>
          </div>
          <% end %>
        </main>
      </div>

<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>