<%# render 'partials/experiments_list', locals: {proposal: proposal} %>
<%= render "partials/sidebar", locals: {current_user: current_user, page: 1} %>
<%= render "partials/headerbar", locals: {current_user: current_user, page: 1} %>
<%= render "partials/chat_sidebar", locals: {current_user: current_user, page: 1} %>

<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <h1 class="page-title light-header">Home</h1>
        <div class="row">
            <div class="col-md-6">
                <!-- minimal widget consist of .widget class. note bg-transparent - it can be any background like bg-gray,
                bg-primary, bg-white -->
                <section class="widget bg-transparent">
                    <!-- .widget-body is a mostly semantic class. may be a sibling to .widget>header or .widget>footer -->
                    <div class="widget-body">
                        <div class="row home-top-stats">
                            <div class="stat-container col-md-12 center-block">
                                <div class="ind-stat-container col-md-6">
                                    <section class="widget stat-left col-md-12 center-block">
                                        <div class="widget-body row">
                                            <i class="fa fa-globe fa-4x col-md-4"></i>
                                            <div class="text-container col-md-7">
                                                <h4 class="row wig-head">TOTAL STUDENTS</h4>
                                                <h4 class="row wig-head"><%= @student_count %></h4>
                                            </div>
                                            <div class="bottom-text left-bottom col-md-12">
                                                <h4 class="wig-head col-md-6">Registrations<br> today</h4>
                                                <h4 class="wig-head col-md-6">Bounce rate</h4>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="ind-stat-container col-md-6">
                                    <section class="widget stat-right col-md-112 center-block">
                                        <div class="widget-body row">
                                            <i class="glyphicon glyphicon-user col-md-4"></i>
                                            <div class="text-container col-md-7">
                                                <h4 class="row wig-head">VISITS TODAY</h4>
                                                <h4 class="row wig-head"><%= @student_count %></h4>
                                            </div>
                                            <div class="bottom-text col-md-12">
                                                <h4 class="wig-head col-md-6">Registrations today</h4>
                                                <h4 class="wig-head col-md-6">Bounce rate</h4>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-5">
                <section class="widget">
                    <!-- .widget>header is generally a place for widget title and widget controls. see .widget in _base.scss -->
                    <header>
                        <h5>
                            Student Registrations
                        </h5>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="stats-row">
                            <div class="stat-item">
                                <h6 class="name">Overall Growth</h6>
                                <p class="value">76.38%</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">Montly</h6>
                                <p class="value">10.38%</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">24h</h6>
                                <p class="value">3.38%</p>
                            </div>
                        </div>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            </div>
                        </div>
                        <p>
                            <small><span class="circle bg-warning"><i class="glyphicon glyphicon-chevron-up"></i></span></small>
                            <span class="fw-semi-bold">17% higher</span>
                            than last month</p>
                    </div>
                </section>
            </div>

            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <h5>From the forum</h5>
                        <div class="widget-controls">
                        </div>
                    </header>
                    <div class="widget-body no-padding">
                      <div class="list-group list-group-lg">
                        <% @recent_posts.each do |post| %>
                          <a class="list-group-item" href="#">
                            <span class="thumb-sm pull-left mr">
                                <!-- <img class="img-circle" src="demo/img/people/a2.jpg" alt="..."> -->
                                    <!-- <i class="status status-bottom bg-success"></i> -->
                            </span>
                              <h5 class="no-margin"><%= post.title %></h5>
                              <p class="help-block text-ellipsis no-margin"><%= truncate(post.body, length: 50) %></p>
                            </a>
                          <% end %>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-5">
                <section class="widget widget-calendar" id=<%= current_user.id %>>
                    <div class="widget-body" >
                        <div class="calendar-controls">
                            <div class="btn-group ">
                                <button class="btn btn-default" id="calender-prev"><i class="fa fa-angle-left"></i></button>
                                <button class="btn btn-default" id="calender-next"><i class="fa fa-angle-right"></i></button>
                            </div>
                            <div id="calendar-switcher" class="btn-group pull-right" data-toggle="buttons">
                                <label class="btn btn-default active">
                                    <input type="radio" name="view" value="month"> Month
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="view" value="agendaWeek"> Week
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="view" value="agendaDay"> Day
                                </label>
                            </div>
                        </div>
                        <div id="calendar" class="calendar"></div>
                    </div>
                </section>
            </div>

        </div>
<!-- calendar event popup -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title fw-bold mt" id="editModalLabel">Edit Event</h4>
            </div>
            <div class="modal-body">
                <p id="eventDescription"></p>
            </div>
            <div class="modal-footer no-border">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- new event modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title fw-bold mt" id="myModalLabel18">New Event</h4>
                <p class="fs-mini text-muted mt-sm">
                    Just enter event name to create a new one
                </p>
            </div>
            <div class="modal-body bg-gray-lighter">
                <div class="form-group">
                    <input type="text" id="event-name" class="form-control input-no-border"
                           placeholder="Name">
                    <select id="startTimeSelector" class="form-control">
                      <option value="1">1:00 am</option>
                      <option value="2">2:00 am</option>
                      <option value="3">3:00 am</option>
                      <option value="4">4:00 am</option>
                      <option value="5">5:00 am</option>
                      <option value="6">6:00 am</option>
                      <option value="7">7:00 am</option>
                      <option value="8">8:00 am</option>
                      <option value="9">9:00 am</option>
                      <option value="10">10:00 am</option>
                      <option value="11">11:00 am</option>
                      <option value="12">12:00 pm</option>
                      <option value="13:00">1:00 pm</option>
                      <option value="14:00">2:00 pm</option>
                      <option value="15:00">3:00 pm</option>
                      <option value="16:00">4:00 pm</option>
                      <option value="17:00">5:00 pm</option>
                      <option value="18:00">6:00 pm</option>
                      <option value="19:00">7:00 pm</option>
                      <option value="20:00">8:00 pm</option>
                      <option value="21:00">9:00 pm</option>
                      <option value="22:00">10:00 pm</option>
                      <option value="23:00">11:00 pm</option>
                      <option value="00:00">12:00 am</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer no-border">
                <button data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button data-dismiss="modal" id="create-event" class="btn btn-success">OK</button>
            </div>
        </div>
    </div>
</div>
<!--  -->

<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>


</div>