<%# render 'partials/experiments_list', locals: {proposal: proposal} %>
<%= render "partials/sidebar", locals: {current_user: current_user, page: 1} %>
<%= render "partials/headerbar", locals: {current_user: current_user, page: 1} %>
<%= render "partials/chat_sidebar", locals: {current_user: current_user, page: 1} %>

<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <h1 class="page-title light-header">Home</h1>
        <div class="row">
            <div class="col-md-6">
                <!-- minimal widget consist of .widget class. note bg-transparent - it can be any background like bg-gray,
                bg-primary, bg-white -->
                <section class="widget bg-transparent">
                    <!-- .widget-body is a mostly semantic class. may be a sibling to .widget>header or .widget>footer -->
                    <div class="widget-body">
                        <div class="row home-top-stats">
                            <div class="stat-container col-md-12 center-block">
                                <div class="ind-stat-container col-md-6">
                                    <section class="widget stat-left col-md-12 center-block">
                                        <div class="widget-body">
                                            <i class="fa fa-globe fa-4x col-md-3"></i>
                                            <div class="text-container col-md-9">
                                                <h4 class="row wig-head">TOTAL STUDENTS</h4>
                                                <h4 class="row wig-head"><%= @student_count %></h4>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="ind-stat-container col-md-6">
                                    <section class="widget stat-right col-md-112 center-block">
                                        <div class="widget-body">
                                            <i class="glyphicon glyphicon-user col-md-3"></i>
                                            <div class="text-container col-md-9">
                                                <h4 class="row wig-head">TOTAL STUDENTS</h4>
                                                <h4 class="row wig-head"><%= @student_count %></h4>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-5">
                <section class="widget">
                    <!-- .widget>header is generally a place for widget title and widget controls. see .widget in _base.scss -->
                    <header>
                        <h5>
                            Student Registrations
                        </h5>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="stats-row">
                            <div class="stat-item">
                                <h6 class="name">Overall Growth</h6>
                                <p class="value">76.38%</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">Montly</h6>
                                <p class="value">10.38%</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">24h</h6>
                                <p class="value">3.38%</p>
                            </div>
                        </div>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            </div>
                        </div>
                        <p>
                            <small><span class="circle bg-warning"><i class="glyphicon glyphicon-chevron-up"></i></span></small>
                            <span class="fw-semi-bold">17% higher</span>
                            than last month</p>
                    </div>
                </section>
            </div>

            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <h5><span class="label label-danger">New</span> Messages</h5>
                        <div class="widget-controls">
                            <a href="#"><i class="fa fa-refresh"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body no-padding">
                        <div class="list-group list-group-lg">
                            <a class="list-group-item" href="#">
                                <span class="thumb-sm pull-left mr">
                                    <img class="img-circle" src="demo/img/people/a2.jpg" alt="...">
                                    <i class="status status-bottom bg-success"></i>
                                </span>
                                <h5 class="no-margin">Chris Gray</h5>
                                <p class="help-block text-ellipsis no-margin">Hey! What's up? So many times since we</p>
                            </a>
                            <a class="list-group-item" href="#">
                                <span class="thumb-sm pull-left mr">
                                    <img class="img-circle" src="demo/img/people/a4.jpg" alt="...">
                                    <i class="status status-bottom bg-success"></i>
                                </span>
                                <h5 class="no-margin">Jamey Brownlow</h5>
                                <p class="help-block text-ellipsis no-margin">Good news coming tonight. Seems they agreed to proceed</p>
                            </a>
                            <a class="list-group-item" href="#">
                                <span class="thumb-sm pull-left mr">
                                    <img class="img-circle" src="demo/img/people/a1.jpg" alt="...">
                                    <i class="status status-bottom bg-warning"></i>
                                </span>
                                <h5 class="no-margin">Livia Walsh</h5>
                                <p class="help-block text-ellipsis no-margin">Check my latest email plz!</p>
                            </a>
                            <a class="list-group-item" href="#">
                                <span class="thumb-sm pull-left mr">
                                    <img class="img-circle" src="demo/img/people/a5.jpg" alt="...">
                                    <i class="status status-bottom bg-danger"></i>
                                </span>
                                <h5 class="no-margin">Jaron Fitzroy</h5>
                                <p class="help-block text-ellipsis no-margin">What about summer break?</p>
                            </a>
                        </div>
                    </div>
                    <footer class="bg-body-light mt">
                        <input type="search" class="form-control input-sm" placeholder="Search">
                    </footer>
                </section>
            </div>

            <div class="col-md-5">
                <section class="widget">
                    <header>
                        <h5>
                            Calendar
                        </h5>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="stats-row">
                            <div class="stat-item">
                                <h6 class="name">Overall Values</h6>
                                <p class="value">17 567 318</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">Montly</h6>
                                <p class="value">55 120</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">24h</h6>
                                <p class="value">9 695</p>
                            </div>
                        </div>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            </div>
                        </div>
                        <p>
                            <small><span class="circle bg-warning"><i class="fa fa-chevron-down"></i></span></small>
                            <span class="fw-semi-bold">8% lower</span>
                            than last month
                        </p>
                    </div>
                </section>
            </div>

        </div>


<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>