<%# javascript_include_tag 'fileUpload', 'data-turbolinks-track' => true %>
<%= render "partials/sidebar", locals: {current_user: current_user, page: 3} %>
<%= render "partials/headerbar", locals: {current_user: current_user, page: 3} %>
<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content <%= controller_name %> <%= action_name %>" role="main">
        <ol class="breadcrumb">
            <li>Home</li>
            <li class="active">Documents</li>
        </ol>
        <div class="head-container row">

                <%# f.hidden_field :key %>
          <% if @is_uploading %>
            <h1 class="page-title header-light col-md-3 doc-header" id="documents-header">My Documents</h1>
            <%= direct_upload_form_for @uploader do |f| %>
              <label class="vis-label btn btn-primary btn-md col-md-1">New file
                <%= f.file_field :document, class: "file-up" %>
              </label>
              <%= f.submit 'upload', class: "btn btn-inverse btn-md sub-doc col-md-1"%>
            <% end %>
          <% else %>
          <h1 class="page-title header-light col-md-3 doc-header" id="documents-header">Almost Done</h1>
            <%= form_for :document, url: "/users/#{current_user.id}/documents" do |f|%>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :amazon_key, value: @doc_key %>
            <%= f.hidden_field :amazon_url, value: Document.set_full_url(@doc_key) %>
            <%= f.text_field :title, class: "form-control col-md-3 small-form", placeholder: 'Enter document name' %>
            <%= f.submit 'save', class: "btn btn-inverse btn-md sub-doc col-md-1" %>
            <% end %>
          <% end %>
        </div>
        <section class="widget">
            <header>
                <h4>Table <span class="fw-semi-bold">Styles</span></h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <div class="mt">
                    <table id="datatable-table" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th class="hidden-xs">Date Created</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% if current_user.documents.count > 0 %>
                            <% current_user.documents.each_with_index do |doc, i| %>
                              <% if doc.created_at %>
                                <tr>
                                  <td><%= i + 1 %></td>
                                  <td><%= link_to doc.title , doc.amazon_url%></td>
                                  <td><%= time_ago_in_words(doc.created_at) %></td>
                                </tr>
                              <% end %>
                            <% end %>
                          <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
</div>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

